:root {
  --dark: #128065;
  --color: #dadbd5;
  --lingrad-color: #e17533;
  --lingrad-color2: #fe9b36;
  --red-color: #683339;
}


* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
}

ul {list-style: none;}

main {
  display: flex;
}

aside {
  flex: .5;
  background-image: linear-gradient( #e17533 , #683339);
  padding: 20px;}

section {
  flex: 8;
  background-color: var(--dark);
  padding: 20px;
}

.information  {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 40 30;
}

.information * {
  flex: 1 100%;
  width: 100%;
}

.sidebar ul {    font-weight: bold;
  padding:30px;
  color: #dadbd5;
  line-height: 50px;
text-align: center;
font-size: 21px;}

.sidebar header {padding: 30px;
  color: #dadbd5;
  background-color: #683339;
}

  .sidebar img {border: 7px solid #0c4153;
    border-radius: 50%;
    height: 200px;
display: block ;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;}


.card .header {padding: 10px;
  border-radius: 50px 50px 0 0;
  text-align: center;
  background: #e17533;
  color: #fff;
}

.card .description {padding: 10px;
  margin-top: -5px;
  border-radius: 0 0 50px 50px;
  text-align: center;
  background: #e17533;
  color: #fff;
}

p {background-color: aliceblue;
padding: 10px;}

.about .header {padding: 1px;
  border-radius: 50px 50px 0 0;
  text-align: center;
  background: #e17533;
  color: #fff;
  margin-bottom: -16px;
}

.about .description {padding: 10px;
  margin-top: -16px;
  border-radius: 0 0 50px 50px;
  text-align: center;
  background: #e17533;
  color: #fff;
}

a {color: #0c4153}
a:hover { color: #683339 ;}

h2 {color: #683339;}
h2:hover { color: #0c4153 ;}

.contact {padding-top: top 50px;
justify-content: center;}


section{display: inline-block}

footer {position: sticky;
  left: 20px;
  text-align: center;
  color: #dadbd5;
  font-size: smaller;
  background-color: #0c4153;
}

@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
  
  .card {width: 50%;}
}

@media screen and (max-width: 768px) {
  header {
    background-color: #8ac4ff;
  }

  .card {width: 100%;}
}