* {margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

main {
    display: flex;
    flex-wrap: wrap;
  }

.sidebar {position: fixed;
        left: 0px;
        flex: 1;
        height:100%;
        background-color: #954716;
        width: 300px;
        }

.sidebar ul {    font-weight: bold;
    color: #dadbd5;
    line-height: 50px;
margin-left: 15px;
padding-top: 15px;
text-align: center;
font-size: 21px;}

.sidebar header {font-size: 22px;
color: #dadbd5;
text-align: center;
background-color: #683339;
line-height: 60px;}

.sidebar img {border: 3px solid #dadbd5;
    border-radius: 50%;
    height: 200px;
display: block ;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;}


.cards {    
    background-color: #0c4153;
    padding: 20px;
    justify-content: center;
    margin-left: 302px;
  }

  .cards img {
      border: 0;
      height: auto;
      justify-content: space-around;
  }

  .card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    background-color: #dadbd5;
  }

  .card :hover {border: 2px solid brown;
    border-radius: 4px;
    padding: 8px;}

  .cardid {color: #0c4153;
          justify-content: center;}
          
  

